<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="./build/images/donkey-logo.svg">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header class="text-white py-3">
			<div class="container-fluid d-flex align-items-center">
				<div class="navbar-brand d-flex align-items-center">
					<img src="./build/images/donkey-logo.svg" alt="Donkey Series Logo" class="img-fluid custom-logo">
					<h1 class="font-weight-bold d-inline-block ml-3 mb-0">DONKEY SERIES</h1>
				</div>
				<div class="ml-auto">
					{% include '_navbar.html.twig' %}
				</div>
			</div>
		</header>
		{% block body %}{% endblock %}
	</body>
</html></body></html>
