<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="./build/images/logo-dkc-dark.svg">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<header class="text-white py-3">
			<div class="container-fluid d-flex align-items-center">
				<div class="d-flex align-items-center">
					<img src="./build/images/logo-dkc-dark.svg" alt="Donkey Series Logo" class="img-fluid custom-logo">
					<h1 class="font-weight-bold ml-3 mb-0 text-center">DONKEY SERIES</h1>
				</div>
				<div class="ml-auto ms-4">
					{% include "_navbar.html.twig" %}
				</div>
			</div>
		</header>

		{% block body %}{% endblock %}

	</body>
</html>
